html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    background-color: dodgerblue;
    overflow: hidden;
}

#page_header {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
    font-size: 8vw;
    color: aliceblue;
    font-family: Century Gothic;
}

#page_content {
    height: 70%;
}

@media screen and (orientation: portrait) {
    #page_content {
/*        background-color: blueviolet;*/
    }
}

@media screen and (orientation: landscape) {
    #page_content {
        display: flex;
        justify-content: center;
/*        background-color: cadetblue;*/
    }
}

.tyan_class {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
/*    background-color: darkseagreen;*/
}

@media screen and (orientation: portrait) {
    #tyan_1, #tyan_2, #tyan_3 {
        width: 100%;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img { width: 70% }
}

@media screen and (orientation: landscape) {
    #tyan_1, #tyan_2, #tyan_3 {
        width: 50%;
        
    }
    
    img { width: 200% }
}

img{
    filter: grayscale(50%);
}

img:hover {
    filter: grayscale(0%);
}

/*
#tyan_1 {
    background-color: brown;
}

#tyan_2 {
    background-color: blueviolet;
}

#tyan_3 {
    background-color: coral;
}
*/

