body, html {
	margin: 0px;
}

section {
	line-height: 1.5;
	text-align: justify;
	font-family: Times New Roman;
	font-size: 14pt;
	
	margin-left: auto;
    margin-right: auto;
	width: 1024px;
}

i {
	background-color:yellow;
}