



/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap&subset=cyrillic');




/* Общие настройки */

*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFBF9;
}

p {
	margin-bottom: 1.5em;
	line-height: 1.5em;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	margin-bottom: 1.5em;
	line-height: 1.5em;
	font-size: 2em;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}




/* Описание стиля хеадера */

header.page-header {
	margin: 0 0 32px 0;
	width: 100%;
	height: 48px;
	background-color: #FF5810;
}




/* Описание главной области контента */

section.page-content {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 768px;
}




/* Адаптив */

@media (max-width: 480px) {
	
	body {
		font-size: 12px;
	}
	
	
	
}