html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height:100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.main-content {
  width: 50%;
  height: 100%;
  background-color: red;
}

section.table-content {
  width: 50%;
  height: 100%;
  background-color: green;
}

table {
  font-size: 1cm;
  table-layout: auto;
  width: 100%;
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
}

@media (max-width: 500px) {
  body {
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }
  section.main-content, section.table-content {
    width: 100%;
  }
}
