html, body {
	width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
	background-color: #0c273c;
	color: azure;
	overflow-y: scroll;
}

#content {
    width: 76%;
	display: flex;
    justify-content: center;
	z-index: 1;
}

#lyrics {
	line-height: 1.4em;
	font-family: Tahoma;
}

#menu {
    width: 24%;
	height: 100%;
	position: fixed;
	right: 0;
    background-color: #476378;
	text-align: center;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

#songs {
	font-size: 21px;
}

.chord {
	color: #62B1D0;
}

a {
	-moz-transition: color 0.2s 0.02s ease;
	-o-transition: color 0.2s 0.02s ease;
 	-webkit-transition: color 0.2s 0.02s ease;
 	color:#222;
	text-decoration:none
}

a:hover {
	color: #ff6f5b;
	text-decoration:none
}