@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Open+Sans:wght@400;700&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  font-size: 16px;
}

.container {
  width: 1024px;
  height: 576px;
  background-color: #fff;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.10));
  text-align: center;
  display: flex;

}

.vertical-container {
  width: 80%;
  height: 100%;
  margin: auto;
}

.container-header {
  width: 100%;
  height: 100px;
  margin: 64px 0 42px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.conteiner-content {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #8b9ba6;
}

.conteiner-content > p {
  color: #333;
  font-size: 32px;
}

.history-container {
  width: 300px;
  height: 576px;
  /* background-color: #383838; */
  background-color: transparent;
}

.history-container-header {
  height: 56px;
  background-color: #56665c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  color: white;
  display: flex;
  align-items: center;
}

.history-container-header > p {
  margin-left: 32px;
}

input {
  border: none;
  color: #333;
  font-size: 32px;
}

input:focus {
  border: 1px solid red;
}

input:active

.container-footer {
  color: #8b9ba6;
}

h1 {
  margin: 0;
  color: #8b9ba6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.369rem;
}

h2 {
  margin: 0;
  color: #8b9ba6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.333rem;
}

/* hr {
  background-color: #f2f2f2;
  border: none;
  height: 2px;
} */

a {
  color: #8e9dec;
}

button {
  width: 228px;
  height: 60px;
  background-color: #8e9dec;
  border-radius: 4px;
  border:1px solid #8e9dec;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
}

table {
  width: 100%;
	border-collapse: collapse;
	border: 2px solid #f1f1f1;
	letter-spacing: 1px;
	font-size: 12px;
}

td, th {
	border: 1px solid #f1f1f1;
	padding: 10px 20px;
}

th {
	text-align: center;
	background-color: #4F81BE;
	color: white;
}

td {
	text-align: center;
}

tr:nth-child(even) td {
	background-color: #D1D8EA;
}

tr:nth-child(odd) td {
	background-color: #E9EEF4;
}

caption {
	padding: 10px;
}
