@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #ffe8e7;
	background: #E96D65;
	font-weight: 300;
	overflow-x: hidden;
}

input,
select,
button {
	border: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
	line-height: inherit;
	display: inline-block;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}


/* Header Style */
.container > header {
	margin: 0 auto;
	padding: 2em;
  text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	color: #b14943;
	padding: 0 0 0.6em 0.1em;
}

/* Main Section Style */
section {
  font-size: 4em;
  line-height: 1.5;
  text-align:center;
  padding: 0px;
}

.container > section > span {
  color: #b14943;
  border-bottom: 1px dashed #b14943;
}

button {
  line-height: 3;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	background: #76C3BD;
	color: #fff;
	padding: 0 1em 0 0;
	font-size: 40%;
	font-weight: bold;
	letter-spacing: 3px;
}

button::before {
  content: "\e001";
	color: #fff;
	float: left;
	padding: 0 0.7em;
	margin: 0 0.8em 0 0;
	background: #69B1A9;
}

/* .input {
  border: none;
  background-color: blue;
} */

/* .input:active {
  background-color: white;
}

.input:scope {
  background-color: yellow;
} */

.input:focus {
  outline: none;
}
